<!DOCTYPE html>
<html ng-app>
<head>
  <title>An Introduction to Angular (Directives and Data binding))</title>
</head>
<body ng-init="customers = [{name:'John Smith', city:'Nairobi'},{name:'John Doe',city:'NY'},{name:'Jane Doe',city:'Mombasa'}]">
  Name:
  <br>
  <input type="text" ng-model="name"> <!--{{ name }}-->
  <br>
  <ul>
    <li ng-repeat="cust in customers | filter:name | orderBy:'city'"> {{ cust.name | uppercase }} - {{ cust.city | lowercase}}</li>
  </ul>

  <script src="scripts/angular.min.js"></script>
</body>
</html>
